@use '../base/variables'as *;

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $bg-main;
    color: $text-color;
    font-family: $ff-lexend;
    font-weight: $fw-normal;
    font-size: rem(15px);
    padding: 5vh 0;
}

main {
    width: 100%;
    margin-bottom: rem(60px);
}