@use "../base/variables" as *;

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-main);
    color: var(--text-color);
    font-family: var(--ff-secondary);
    font-weight: var(--fw-normal);
    font-size: toRem(15px);
    padding: 5vh 0;
}

main {
    width: 100%;
    margin-bottom: toRem(60px);
}