@use "../base/variables" as *;

.card {
    border-radius: toEm(10px, 15px);
    background-color: var(--bg-card);
    margin: 0 auto;
    width: min(90%, 500px);
    overflow: hidden;
    line-height: 1.7;
    padding-bottom: toEm(40px, 15px);

    &__hero {
        width: 100%;
        position: relative;
    }

    &__hero-layer {
        background-color: var(--bg-overlay);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;

    }

    &__body {
        width: 90%;
        padding: 0 1em;
        margin: 0 auto;
        text-align: center;
    }

    &__header {
        margin-bottom: 30px;
    }

    &__heading {
        font-family: var(--ff-primary);
        color: var(--heading-color);
        font-size: toRem(30px);
        margin-top: toEm(40px, 25px);
        margin-bottom: toEm(20px, 25px);
        margin-inline: auto;
        width: 14ch;
        line-height: 1.2;
    }

    &__accent {
        color: var(--accent-color);
    }

    &__stat-group {
        margin-bottom: 25px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &__num {
        color: var(--heading-color);
        font-size: toRem(24px);
        font-family: var(--ff-primary);
        font-weight: var(--fw-bold);
    }

    &__label {
        text-transform: uppercase;
    }
}